<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
    <!--Add a nav bar here -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Car Dealership</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/djangoapp/">Home</a>
            <a class="nav-item nav-link" href="/djangoapp/about">About</a>
            <a class="nav-item nav-link" href="/djangoapp/contact">Contact Us</a>
            </div>

            <div class="navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <a class="nav-item nav-link text-primary" href="#">({{ request.user.username }})</a>
                <a class="nav-item nav-link text-primary" href="{% url 'djangoapp:logout' %}">Logout</a>
            {% else %}
            <form method="POST" action="{% url 'djangoapp:login' %}">
                {% csrf_token %}
                <div class="form-row justify-content-end">
                <div class="col-3">
                    <input class="form-control mr-sm-1" type="text" name="user">
                </div>
                <div class="col-3">
                    <input class="form-control mr-sm-1" type="password" name="password">
                </div>
                <div class="col-2">
                    <button class="btn btn-info" type="submit">Login</button>
                </div>
                <div class="col-2">
                    <a class="btn btn-link" href="{% url 'djangoapp:register' %}">Sign Up</a>
                </div>
                </div>
            </form>
            {% endif %}
            </div>

        </div>
        </nav>
        {% if 'msg' in request.GET %}
        {% if request.GET.msg == 'login_failed' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Log In failed!</strong> user or password incorrect.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endif %}
        {% if request.GET.msg == 'logout' %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>{{ request.GET.user }}'s</strong> session closed.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endif %}
        {% endif %}

    <!--Add a dealer table here -->

    </body>

</html>
